/* this css file will only style the homepage of our site */
/*Github pages is fuuuuun */
.cat-pic {
  margin: 15px;
  max-width: 500px;
}
/* 
.side-by-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
} */