.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

.text p{
  display: inline-block;
  background-color: lightskyblue;
  border: solid 1px black;
  padding: 5px 10px;
  border-radius: 20px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
  max-width: 600px;
}

.text:nth-child(even){
  text-align: right;
}

.text:nth-child(even) p {
  background-color: lightgreen;

}