/*CSS styling sheet*/

#overlay {
  background-color: white;
  color: black;
  width: 100%;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  height: 100%;
  display: show;
}

#overlay p {
  font-size: 15px;
}

@keyframes fade {
  0% {
    opacity: 100%;
  }
  50% {
  opacity: 50%;
  }
  100% {
    opacity: 0%;
  }
}

body {
    background-color: whitesmoke;
}

#content {
    text-align: center;
    font-size: xx-large;
    color: rgb(84, 84, 84);
    background-color: whitesmoke;
}

 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 150px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(208, 208, 208);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #474747;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  #infoContainer {
    height: 100%;
    opacity: 100%;
    position:fixed;
    width: 450px;
    top: 0;
    float: right;
    right: 0;
    background-color: rgb(208, 208, 208);
    overflow: hidden;
    z-index: 1;
  }

  #infoText {
    opacity: 100%;
    float: right;
    height: 100%; /* 100% Full-height */
    width: 450px; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    overflow: hidden;
    
    background-color: rgb(208, 208, 208);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
  }
  
  /* The navigation menu links */
  #anmDesc p {
    padding: 0px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #474747;
    display: block;
    transition: 0.3s;
  }

  #anmDesc h3 {
    padding: 0px 8px 8px 8px;
    text-decoration: none;
    font-size: 50px;
    color: #474747;
    display: block;
    transition: 0.3s;
  }

  /* US map */
  .us-map {
    max-width: 650px;
  }

  /* highlight for US map */
  .highlight {
    position: absolute;
    border: 5px solid cyan;
    background-color: rgba(0, 255, 255, 0.3);
  }

  .animal-image {
    margin: 0px;
    max-width: 250px;
  }