h1 {
  color: rgb(28, 2, 46);
  background-color: #8affff;
  font-size: 200%;
  font-family: arial;
  text-align: center;
  margin: 10px;
  border: solid 2px #444444; 
}

p {
  color: rgb(28, 2, 46);
  font-family: arial;
  text-indent: 15px;
  margin-left: 0px;
  font-weight: bold;
}

#content {
  background-color: #44cccc;
  font-family: courier;
  width: 700px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 2px #444444;
  font-size: 15px;
}

h2 {
  color: rgb(28, 2, 46);
  font-size: 18px;
  font-family: arial;
}

.picture {
  width: 200px;
  min-height: 100px;
}